<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_AsyncIndex>
            <version>0.1.0</version>
        </Hackathon_AsyncIndex>
    </modules>
    <global>
        <blocks>
            <hackathon_asyncindex>
                <class>Hackathon_AsyncIndex_Block</class>
            </hackathon_asyncindex>
            <index>
                <rewrite>
                    <adminhtml_process_grid>Hackathon_AsyncIndex_Block_Adminhtml_Process_Grid</adminhtml_process_grid>>
                </rewrite>
            </index>
        </blocks>
        <helpers>
            <hackathon_asyncindex>
                <class>Hackathon_AsyncIndex_Helper</class>
            </hackathon_asyncindex>
        </helpers>
        <models>
            <hackathon_asyncindex>
                <class>Hackathon_AsyncIndex_Model</class>
            </hackathon_asyncindex>
        </models>
        <events>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <hackathon_asyncindex>
                    <file>hackathon_asyncindex.xml</file>
                </hackathon_asyncindex>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <hackathon_asyncindex_cron>
                <run>
                    <model>hackathon_asyncindex/observer::schedule_index</model>
                </run>
            </hackathon_asyncindex_cron>
            <hackathon_asyncindex_events_cron>
                <schedule>
                    <config_path>system/asyncindex/scheduler_cron_expr</config_path>
                </schedule>
                <run>
                    <model>hackathon_asyncindex/observer::unprocessed_events_index</model>
                </run>

            </hackathon_asyncindex_events_cron>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <asyncindex>
                <args>
                    <module>Hackathon_AsyncIndex</module>
                    <frontName>asyncindex</frontName>
                </args>
                <use>admin</use>
            </asyncindex>
        </routers>
    </admin>
    <default>
        <system>
            <asyncindex>
                <auto_index>1</auto_index>
                <scheduler_cron_expr>*/5 * * * *</scheduler_cron_expr>
                <event_limit>100</event_limit>
            </asyncindex>
        </system>
    </default>
</config>
