<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_AsyncIndex>
            <version>0.1.0</version>
        </Hackathon_AsyncIndex>
    </modules>
    <global>
        <blocks>
            <hackathon_asyncindex>
                <class>Hackathon_AsyncIndex_Block</class>
            </hackathon_asyncindex>
        </blocks>
        <helpers>
            <hackathon_asyncindex>
                <class>Hackathon_AsyncIndex_Helper</class>
            </hackathon_asyncindex>
        </helpers>
        <models>
            <hackathon_asyncindex>
                <class>Hackathon_AsyncIndex_Model</class>
            </hackathon_asyncindex>
        </models>
        <events>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <hackathon_asyncindex>
                    <file>hackathon_asyncindex.xml</file>
                </hackathon_asyncindex>
            </updates>
        </layout>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <hackathon_asyncindex>
                        <class>hackathon_asyncindex/observer</class>
                        <method>extendIndexProcessGrid</method>
                    </hackathon_asyncindex>
                </observers>
            </adminhtml_block_html_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <hackathon_asyncindex>
                        <class>hackathon_asyncindex/observer</class>
                        <method>prepareCollectionForGrid</method>
                    </hackathon_asyncindex>
                </observers>
            </core_block_abstract_to_html_before>
            <process_collection_load_after>
                <observers>
                    <hackathon_asyncindex>
                        <class>hackathon_asyncindex/observer</class>
                        <method>addEventCountToCollection</method>
                    </hackathon_asyncindex>
                </observers>
            </process_collection_load_after>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <hackathon_asyncindex_cron>
                <run>
                    <model>hackathon_asyncindex/observer::schedule_index</model>
                </run>
            </hackathon_asyncindex_cron>
            <hackathon_asyncindex_events_cron>
                <schedule>
                    <config_path>system/asyncindex/scheduler_cron_expr</config_path>
                </schedule>
                <run>
                    <model>hackathon_asyncindex/observer::runIndex</model>
                </run>
            </hackathon_asyncindex_events_cron>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Hackathon_AsyncIndex after="Mage_Adminhtml">Hackathon_AsyncIndex_Adminhtml</Hackathon_AsyncIndex>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <system>
            <asyncindex>
                <auto_index>1</auto_index>
                <scheduler_cron_expr>*/5 * * * *</scheduler_cron_expr>
                <event_limit>100</event_limit>
                <use_transactions>1</use_transactions>
            </asyncindex>
        </system>
    </default>
</config>
